# Python Bytecode
*.py[cod]
__pycache__/
*.so

# Virtual Environments
env/


# Django Files
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Local Development Settings
local_settings.py

# Django Media and Static Files
media/
staticfiles/

# Migrations (optional, see discussion below)
**/migrations/**

# Editor & IDE Files
*.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-Specific Files
.DS_Store
Thumbs.db

# Environment Files
.env
