# Python Bytecode
*.py[cod]
__pycache__/
*.so

# Virtual Environments
env/


# Django Files
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Local Development Settings
local_settings.py

# Django Media and Static Files
media/


# Migrations 
**/migrations/**

# Editor & IDE Files
.vscode/

# OS-Specific Files
.DS_Store
Thumbs.db

# Environment Files
.env
