{% extends 'base.html' %}
{% load static %}
{% block title %}
All Crops
{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/colorfullCards.css' %}">
<link rel="stylesheet" href="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.css' %}">

{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI -->
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<!-- DataTables CSS -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->

{% block main_content %}


<!-- <div class="row my-4 card-box">
  <div class="col-lg-4 col-md-4 card-container">
    <div class="card bg-soft-info outer-box">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="bg-soft-info rounded p-3 inner-box">
            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z"
                fill="currentColor"></path>
              <path opacity="0.4"
                d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <div class="text-end">
            <h2 class="counter" id="total-members" style="visibility: visible;">{{ member_family|length}}</h2>
            Total Members
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 card-container">
    <div class="card bg-soft-warning outer-box">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="bg-soft-warning rounded p-3 inner-box">
            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z"
                fill="currentColor"></path>
              <path opacity="0.4"
                d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <div class="text-end">
            <h2 class="counter" style="visibility: visible;">{{total_active}}</h2>
            Active Members
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 card-container">
    <div class="card bg-soft-danger outer-box">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="bg-soft-danger rounded p-3 inner-box">
            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z"
                fill="currentColor"></path>
              <path opacity="0.4"
                d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <div class="text-end">
            <h2 class="counter" style="visibility: visible;">{{total_inactive}}</h2>
            Inactive Members
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->



<!-- <div class="card mb-2 filter-card">
  <div class="card-body p-3 ">
    <div class="">
      <input type="date" class="form-control" id="start">
    </div>
    <div class="">
      <input type="date" class="form-control" id="end">
    </div>
    <div class="d-flex align-items-center gap-1 ">
      <div class="">
        <button id="filter" class="btn btn-primary p-2 ">Filter</button>
      </div>
      <div class="">
        <button id="clearFilter" class="btn btn-primary p-2 secondary">Clear Filter</button>
      </div>
    </div>
    <div class="d-flex align-items-center gap-1 ">
      <div class="">
        <select type="text" class="form-select form-select form-select-md position-dropdown" name="position"
          id="position">
          <option value="">Position</option>
          <option value="L">L</option>
          <option value="R">R</option>
        </select>
      </div>
      <div class="">
        <select type="text" class="form-select form-select form-select-md status-dropdown" name="status" id="status">
          <option value="">Status</option>
          <option value="ACT">Active</option>
          <option value="INC">Inactive</option>
        </select>
      </div>
    </div>
  </div>
</div> -->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">All Crops</h4>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table order-listing">
            <thead>
              <tr>
                <th>Sr.no.</th>
                <th>Crop Name</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for crop in crops %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ crop.name }}</td>
                <td>{{ crop.time|date:"d/m/Y" }}</td>
                <td>
                  <a class="btn btn-outline-primary p-2" href="{% url 'update_crop_view' crop.id %}">
                    Update
                  </a>
                  <!-- <a class="btn btn-outline-primary p-2" href="{% url 'delete_crop' crop.id %}">
                    Delete  
                  </a> -->
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block specific_js %}
<!-- End plugin js for this page -->
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery-ui.js' %}"></script>
<script src="{% static 'vendors/datatables.net/dataTables.buttons.min.js' %}"></script>
<!-- Include DataTables CSS -->
<!-- Include DataTables JS -->
<!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script> -->

<!-- <script src="{% static 'vendors/datatables.net/jquery-3.6.0.min.js' %}"></script> -->
<!-- Custom js for this page-->
<!-- <script src="{% static 'js/data-table.js' %}"></script> -->

<script>
  // Date filter
  // Basic Setup
  var table = $('.order-listing')
    var dataTable = table.DataTable({
    "aLengthMenu": [
      [5, 10, 15, -1],
      [5, 10, 15, "All"]
    ],
    "iDisplayLength": 10,

    "oLanguage": {
      "sSearch": "Search" //Will appear on search form
    },
    fixedHeader: {
      header: true, //Table have header and footer
      footer: true
    },
    orderClasses: true,
    autoFill: true, // Autofills fields by dragging the blue dot at the bottom right of cells
    responsive: true, //  Resize table
    rowReorder: true, // Row can be reordered by dragging
    select: true, // selecting rows, cells or columns
    colReorder: true, // Reorders columns
  });


  // document.getElementById('clearFilter').addEventListener('click', function (e) {
  //   e.preventDefault();
  //   $.fn.dataTableExt.afnFiltering.length = 0;
  //   dataTable.draw();
  // });

  // document.getElementById('position').addEventListener('change', function (e) {
  //   var position = e.target.value;
  //   document.getElementById('position').value = position;
  //   dataTable.column(7).search(position).draw();
  // });

  // document.getElementById('status').addEventListener('change', function (e) {
  //   var status = e.target.value;
  //   document.getElementById('status').value = status;
  //   dataTable.column(8).search(status).draw();
  // });

  // document.getElementById('filter').addEventListener('click', function (e) {
  //   e.preventDefault();
  //   var startDate = document.getElementById('start').value;
  //   var endDate = document.getElementById('end').value;
  //   document.getElementById('clearFilter').click();

  //   filterByDate(6, startDate, endDate); // We call our filter function

  //   dataTable.draw(); // Manually redraw the table after filtering
  // }); 

  function parseDate(str) {
    var parts = str.split('/');
    return new Date(parts[2], parts[1] - 1, parts[0]);
  }

  function normalizeDate(dateString) {
    var date = new Date(dateString);
    return date.getFullYear() + ('0' + (date.getMonth() + 1)).slice(-2) + ('0' + date.getDate()).slice(-2);
  }

  function filterByDate(column, startDate, endDate) {
    // Custom filter syntax requires pushing the new filter to the global filter array
    $.fn.dataTableExt.search.push(
      function (settings, data, dataIndex) {
        var rowDate = normalizeDate(parseDate(data[column]));
        var start = normalizeDate(startDate);
        var end = normalizeDate(endDate);

        if (start <= rowDate && rowDate <= end) {
          return true;
        } else if (rowDate >= start && end === '' && start !== '') {
          return true;
        } else if (rowDate <= end && start === '' && end !== '') {
          return true;
        } else {
          return false;
        }
      }
    );
  }
  function convertDateToDDMMYYYY(dateString) {
      const date = new Date(dateString);

      const day = ("0" + date.getDate()).slice(-2);
      const month = ("0" + (date.getMonth() + 1)).slice(-2);
      const year = date.getFullYear();

      return `${day}/${month}/${year}`;
    }





</script>

<script src="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.js' %}"></script>
<script src="{% static 'js/toastDemo.js' %}"></script>
{% if notification == 'success' %}
<script>
  showSuccessToast('Crop Added') 
</script>
{% elif notification is not None %}
<script>
  showDangerToast('{{notification}}')
</script>
{% endif %}

{% endblock %}
