{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- base:css -->
<link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
<link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
<!-- plugin css for this page -->
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
<!-- End plugin css for this page -->
<!-- inject:css -->
<!-- <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/universal.css' %}">