.content-wrapper {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}


.sections {
  display: none;
}

.outer-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-flow: row wrap;

}

.control-panel {
  display: flex;
  flex-direction: column;
  /* gap:32px; */
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem 1rem;
  width: 28%;
  min-width: fit-content;
  height: fit-content;
}

.image-box .name-email {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.name-email h2 {
  font-weight: 900;
}

.name-email p {
  font-weight: 500;

}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.image-box img {
  object-fit: cover;
  margin: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.controls {
  width: 100%;
  /* max-width: 350px; */
}

.control-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;
  list-style: none;
  gap: 5px;
  padding-left: 0;
  margin: 0
}

.control-list-item {
  padding: 0.5rem 15px;
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  text-align: left;
  padding-left: 1rem;
  vertical-align: center;
  cursor: pointer;
}

.control-list-item>button {
  text-align: center;

}

.content-card {
  width: 68%;
}

/* .card{ */
/* height:fit-content; */
/* max-height: 550px; */
/* padding: 1.5rem; */
/* } */

@media screen and (width>=990px) and (width<1090px) {
  .outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-flow: row wrap;

  }

  .control-panel {
    width: 100%;
    max-width: 300px;
  }

  .content-card {
    width: 100%;
  }

  .control-list {
    flex-flow: row wrap;
    justify-content: center;

  }

  .control-list-item {
    max-width: 180px;
    min-width: 160px;
    padding-left: 0;

  }

  .image-box img {
    height: 150px;
    width: 150px;
  }
}

@media screen and (width<=920px) {
  .outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-flow: row wrap;

  }

  .control-panel {
    width: 100%;
    max-width: 300px;
  }

  .content-card {
    width: 100%;
  }

  .control-list {
    flex-flow: row wrap;
    justify-content: center;

  }

  .control-list-item {
    max-width: 180px;
    min-width: 160px;
    padding-left: 0;

  }

  .control-list-item>button {
    text-align: center;

  }

  .image-box img {
    height: 150px;
    width: 150px;
  }
}

@media screen and (width<=540px) {
  .control-panel {
    padding: 1rem;
  }

  .control-list-item {
    max-width: 180px;
    text-align: left;
    padding: 0.5rem;
    width: unset;
  }

  .image-box img {
    height: 100px;
    width: 100px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* Layout Part Finished */


/* Dynamic classes */
.content-card section {
  display: none;
}

.show {
  display: block !important;
  transition: 0.4s ease-in-out;
}





/* upload file */


input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* user agent stylesheet */
input:not([type="range"]):not([type="color"]) {
  writing-mode: horizontal-tb !important;
}

/* user agent stylesheet */
/* input[type="file" i] {
appearance: none;
background-color: initial;
cursor: default;
align-items: baseline;
color: inherit;
text-overflow: ellipsis;
white-space-collapse: preserve;
text-wrap: nowrap;
text-align: start !important;
padding: initial;
border: initial;
overflow: hidden !important;
} */


.form-ctrl {
  cursor: pointer;
  display: block;
  width: 112px;
  /* padding: 10px; */
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: transparent;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #eee;
  -webkit-appearance: none;
  border: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  font-size: var(--body-font-size);
}

.input[type=file] {
  overflow: hidden;
}

.form-ctrl[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.form-ctrl::-webkit-file-upload-button {
  visibility: hidden;
}

.form-ctrl::before {
  content: 'Upload Picture';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 6px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #000;
  font-weight: 700;
  font-size: 10pt;
}

.form-ctrl:hover::before {
  border-color: black;
}

.labels {
  flex: 1 1 25%;
  margin-bottom: 0 !important;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.modal .modal-dialog {
  margin-top: 10px;
}