{% extends 'base.html' %}
{% load static %}
{% block title %}
Add Section
{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/colorfullCards.css' %}">
<link rel="stylesheet" href="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.css' %}">

{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI -->
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<!-- DataTables CSS -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->

{% block main_content %}



<div class="card mb-2">
  <div class="card-body">
    <h4 class="card-title">नवीन चौकी टाका</h4>
    {% if section %}
    <form class="form-sample mt-4" enctype="multipart/form-data" method="post" id="sign_up_form"
      action="{% url 'section_view' section.id  %}">
    {% else %}
    <form class="form-sample mt-4" enctype="multipart/form-data" method="post" id="sign_up_form"
      action="{% url 'section_view'  %}">
    {% endif %}
      {% csrf_token %}
      {{form.errors}}
      {{errors}}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">चौकीचे नाव</label>
            <div class="col-sm-9">
              <!-- <input type="text" class="form-control"> -->
              {{ form.name }}
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" id="submit_button" type="submit">
        {% if section %}
          अपडेट
        {% else %}
          टाका
        {% endif %}
      </button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">सर्व चौकी</h4>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table order-listing">
            <thead>
              <tr>
                <th>क्रमांक</th>
                <th>नाव</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for section in sections %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ section.name }}</td>
                <td class="text-left">
                  <div class="dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle" id="dropdownMenuIconButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:0.5rem 1rem">
                      <i class="typcn typcn-user"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
                      <a class="dropdown-item" href="{% url 'section_view' section.id %}">अपडेट</a>
                      <a class="dropdown-item" href="{% url 'delete_section' section.id %}">डिलीट</a>

                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block specific_js %}
<!-- End plugin js for this page -->
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery-ui.js' %}"></script>
<script src="{% static 'vendors/datatables.net/dataTables.buttons.min.js' %}"></script>
<!-- <script src="{% static 'vendors/datatables.net/jquery-3.6.0.min.js' %}"></script> -->
<!-- Custom js for this page-->

<script src="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.js' %}"></script>
<script src="{% static 'js/toastDemo.js' %}"></script>
{% if notification == 'success' %}
<script>
  showSuccessToast('Section Added') 
</script>
{% elif notification == 'deleted' %}
<script>
  showSuccessToast('Section Deleted') 
</script>
{% elif notification == 'updated' %}
<script>
  showSuccessToast('Section Updated')   
</script>
{% elif notification is not None %}
<script>
  showDangerToast('{{notification}}') 
</script>
{% endif %}
{% endblock %}