{% extends 'base.html' %}
{% load static %}
{% block title %}
All Entries
{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/colorfullCards.css' %}">
<link rel="stylesheet" href="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.css' %}">

{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI -->
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<!-- DataTables CSS -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->

{% block main_content %}



<div class="card">
  <div class="card-body">
    <h4 class="card-title">All Entries</h4>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table">
            <thead>
              <tr class="bg-primary text-white">
                <th>Entry No.</th>
                <th>Customer</th>
                <th>Crop</th>
                <th>Sacks</th>
                <th>Weight</th>
                <th>Price per unit</th>
                <th>Arrival</th>
                <th>Total Rent</th>
                <th>Rent Paid</th>
                <th>Rent Due</th>
                <th>Open/Closed</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

              {% for entry in entries %}
              <tr>
                <td>{{entry.id}}</td>
                <td>{{entry.customer.name}}</td>
                <td>{{entry.crop.name}}</td>
                <td>{{entry.sacks}}</td>
                <td>{{entry.weight}} {{entry.unit}}</td>
                <td>{{entry.price_per_unit}}</td>
                <td>{{entry.arrival_time|date:"d/m/Y"}}</td>
                <td>{{entry.get_total_rent}}</td>
                <td class="text-center">
                  {{entry.rent_paid}}
                </td>
                <td>{{entry.get_due_rent}}</td>
                <td>
                  {% if entry.closed %}
                  <span class="badge badge-danger">Closed</span>
                  {% else %}
                  <span class="badge badge-success">Open</span>
                  {% endif %}
                </td>
                <td>
                  <button class="btn btn-primary py-1 w-100 mt-1" onclick="showSwal('pay-rent')">Pay Rent</button>
                  <br>
                  <button class="btn btn-primary py-1 w-100 mt-1">Settle</button>
                </td>

                <!-- <td class="text-end">
                    <button class="btn btn-light">
                      <i class="typcn typcn-eye text-primary"></i>View
                    </button>
                    <button class="btn btn-light">
                      <i class="typcn typcn-times text-danger"></i>Remove
                    </button>
                  </td> -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <form action="" method="post" class="d-none">
            input
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
{% block specific_js %}
<!-- End plugin js for this page -->
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery-ui.js' %}"></script>
<script src="{% static 'vendors/datatables.net/dataTables.buttons.min.js' %}"></script>
<!-- <script src="{% static 'vendors/datatables.net/jquery-3.6.0.min.js' %}"></script> -->
<!-- Custom js for this page-->

<script src="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.js' %}"></script>
<script src="{% static 'vendors/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/toastDemo.js' %}"></script>
<script>
  (function ($) {
    showSwal = function (type, form) {
      'use strict';
      // const fundTransferForm = document.getElementById('fund-transfer-form')
      if (type === 'basic') {
        swal({
          text: 'Any fool can use a computer',
          button: {
            text: "OK",
            value: true,
            visible: true,
            className: "btn btn-primary"
          }
        })


        
      } else if (type === 'pay-rent') {
        swal({
          content: {
            element: "input",
            attributes: {
              placeholder: "Enter Amount",
              type: "password",
              class: 'form-control'
            },
          },
          button: {
            text: "OK",
            value: true,
            visible: true,
            className: "btn btn-primary"
          }
        })
        document.getElementsByClassName('swal-button--confirm')[0].addEventListener('click', () => {
          // remove the unnecessary loader
          const loader = document.getElementsByClassName('swal-button__loader')[0]
          if (loader) loader.remove()
          
          // form = Form.Data
          const amount = document.getElementsByClassName('swal-content__input')[0]
          if (amount.value !== '' && amount.value !== 0) {
            form.submit()
          }
          else {
            const warning = document.getElementById('fix-errors')
            warning.classList.remove('d-none')
            console.log('problem')
          }
        })
      } else if (type === 'withdrawal-request') {
        if (form?.classList.contains('d-none'))
          form.classList.remove('d-none')
        swal({
          content: form,
          buttons: {
            submit: {
              text: "Submit",
              value: false,
              visible: true,
              className: "btn btn-success",
              loaderHtml: '',
              closeModal: false,
            },
            cancel: {
              text: "Cancel",
              value: true,
              visible: true,
              className: "btn btn-danger",
              closeModal: true
            }
          }
        })
        document.getElementsByClassName('swal-button--submit')[0].addEventListener('click', () => {
          // remove the unnecessary loader
          const loader = document.getElementsByClassName('swal-button__loader')[0]
          if (loader) loader.remove()
          // perform validations
          const amount = document.getElementById('amount-in-wdr')
          const countWarning = document.getElementById('amount-warning-in-wdr')
          if (countWarning.classList.contains('d-none') && amount.value !== '') {
            form.submit()
          }
          else {
            const warning = document.getElementById('fix-errors')
            warning.classList.remove('d-none')
            console.log('problem')
          }
        })

      }
      else {
        console.log("Type not mentioned in alert.js")
      }
    }

  })(jQuery);
</script>
{% if notification == 'success' %}
<script>
  showSuccessToast('Franchise Created') 
</script>
{% elif notification == 'failed' %}
<script>
  showDangerToast()
</script>

{% elif notification is not None %}
<script>
  showDangerToast('{{notification}}')
</script>
{% endif %}
{% endblock %}
<!-- 

    inward form->{ vehicle number }

    slips -> entry inward outward settle



  db
  master
  new customer
  inward (new, active(table) add section)
  pay (similar to inward) (payment summary)
  outward



  Customer
  crop (section)
  insurance
  vehicle (driver name)


 -->