{% extends 'base.html' %}
{% load static %}
{% block title %}
All entries
{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/colorfullCards.css' %}">
<link rel="stylesheet" href="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.css' %}">

{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI -->
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<!-- DataTables CSS -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->

{% block main_content %}


<div class="card">
  <div class="card-body">
    <h4 class="card-title">All Entries</h4>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table table-bordered">
            <thead>
              <tr>
                <th>क्रमांक</th>
                <th>ग्राहकाचे नाव</th>
                <th>मोबाईल नंबर</th>
                <th>पीक</th>
                <th>साठवणेसाठी दिनांक</th>
                <th>एकूण दिवस</th>
                <th>वजन</th>
                <th>पोती नग</th>
                <th>एकूण भाडे </th>
                <th>भाडे जमा</th>
                <th>भाडे बाकी</th>
                <th>एकूण व्याज </th>
                <th>व्याज जमा</th>
                <th>व्याज बाकी</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for entry in entries %}
              <tr>
                <td>{{entry.id}}</td>
                <td>{{entry.customer.name}}</td>
                <td>{{entry.customer.contact_number}}</td>
                <td>{{entry.crop.name}}</td>
                <td>{{entry.arrival_date|date:'d/m/Y'}}</td>
                <td>{{entry.total_days}}</td>
                <td>{{entry.weight}} {{entry.unit}}</td>
                <td>{{entry.initial_sacks}}</td>
                <td>{{entry.get_total_rent}}</td>
                <td>{{entry.rent_paid}}</td>
                <td>{{entry.get_due_rent}}</td>
                <td>{{entry.get_total_interest}}</td>
                <td>{{entry.interest_paid}}</td>
                <td>{{entry.get_due_interest}}</td>
                <td>
                  <a href="{% url 'outward_entry_view' entry.id %}" class="btn btn-primary py-1 w-100 mt-1">
                    View  
                  </a>
                  <!-- <a href="{% url 'disabled_inward_view' entry.id %}" class="btn btn-outline-primary py-1 w-100 mt-1">View</a> -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
{% block specific_js %}
<!-- End plugin js for this page -->
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery-ui.js' %}"></script>
<script src="{% static 'vendors/datatables.net/dataTables.buttons.min.js' %}"></script>
<!-- <script src="{% static 'vendors/datatables.net/jquery-3.6.0.min.js' %}"></script> -->
<!-- Custom js for this page-->

<script src="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.js' %}"></script>
<script src="{% static 'js/toastDemo.js' %}"></script>
{% if notification == 'success' %}
<script>
  showSuccessToast('Crop Added') 
</script>
{% elif notification == 'deleted' %}
<script>
  showSuccessToast('Crop Deleted') 
</script>
{% elif notification == 'updated' %}
<script>
  showSuccessToast('Crop Updated') 
</script>
{% endif %}
{% endblock %}