{% extends 'base.html' %}
{% load static %}
{% block title %}
Pay
{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/colorfullCards.css' %}">
<link rel="stylesheet" href="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.css' %}">

{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI -->
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<!-- DataTables CSS -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->

{% block main_content %}


<!-- 
<div class="row card-box">
  <div class="col-lg-3 col-md-6 col-sm-12 card-container">
    <div class="card bg-soft-info outer-box">
      <div class="card-body">

        <div class="d-flex justify-content-between align-items-center">
          <div class="bg-soft-info rounded p-3 inner-box">
            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z" fill="currentColor"></path>
              <path opacity="0.4" d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z" fill="currentColor"></path>
            </svg>
          </div>  
          <div class="text-end">
            <h2 class="counter" style="visibility: visible;">{{customers|length}}</h2>
            एकूण ग्राहक
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 card-container">
    <div class="card bg-soft-warning outer-box">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="bg-soft-warning rounded p-3 inner-box">
            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z" fill="currentColor"></path>
              <path opacity="0.4" d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z" fill="currentColor"></path>
            </svg>
            <span class="mt-2 tx-black">{{entry.customer}}</span>
          </div>  

          <div class="text-end">
            <h2 class="counter" style="visibility: visible;">{{total_initial_sacks}}</h2>
            एकूण जमा पोती नग
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 card-container">
    <div class="card bg-soft-danger outer-box">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">

          <div class="text-end">
            <h2 class="counter" style="visibility: visible;">{{total_due_rent}}</h2>
            एकूण व्याज बाकी 
          </div>
          <div class="text-end">
            <h2 class="counter" style="visibility: visible;">{{total_due_interest}}</h2>
            एकूण भाडे बाकी
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 card-container">
    <div class="card bg-soft-primary outer-box">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="bg-soft-primary rounded p-3 inner-box">
            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z" fill="currentColor"></path>
              <path opacity="0.4" d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z" fill="currentColor"></path>
            </svg>
          </div>
          <div class="text-end">
            <h2 class="counter" style="visibility: visible;">{{total_loan_given}}</h2>
            एकूण  दिलेली मुद्दल रक्कम
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="card mb-2 filter-card">
  <div class="card-body p-3 ">
    <!-- <div class="row p-2 col-lg-6 col-md-6 "> -->
      <div class="">
        <input type="date" class="form-control" id="start">
      </div>
      <div class="">
        <input type="date" class="form-control" id="end">
      </div>
      <div class="d-flex align-items-center gap-1 ">
        <div class="">
          <button id="filter" class="btn btn-primary p-2 ">Filter</button>
        </div>
        <div class="">
          <button id="clearFilter" class="btn btn-primary p-2 secondary">Clear Filter</button>
        </div>
      </div>
    <!-- </div> -->
    <div class="d-flex align-items-center gap-1 ">
      <div class="">
        <select type="text" class="form-select form-select form-select-md data-dropdown" name="customer" id="customer">
          <option value="">ग्राहक</option>
          {% for customer in customers %}
            <option value="{{customer.name}}">{{customer.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="">
        <select type="text" class="form-select form-select form-select-md data-dropdown" name="crop" id="crop">
          <option value="">पीक</option>
          {% for crop in crops %}
            <option value="{{crop.name}}">{{crop.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">All Entries</h4>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table table-bordered">
            <thead>
              <tr>
                <th>क्रमांक</th>
                <th>ग्राहकाचे नाव</th>
                <th>मोबाईल नंबर</th>
                <th>पीक</th>
                <th>साठवणेसाठी दिनांक</th>
                <th>एकूण दिवस</th>
                <th>वजन</th>
                <th>पोती नग</th>
                <th>एकूण भाडे </th>
                <th>भाडे जमा</th>
                <th>भाडे बाकी</th>
                <th>एकूण व्याज </th>
                <th>व्याज जमा</th>
                <th>व्याज बाकी</th>
                <th>Action</th>
                <th class="d-none">pay rent form</th>
                <th class="d-none">pay interest form</th>
              </tr>
            </thead>
            <tbody>

              {% for entry in entries %}
              <tr>
                <td>{{entry.id}}</td>
                <td>{{entry.customer.name}}</td>
                <td>{{entry.customer.contact_number}}</td>
                <td>{{entry.crop.name}}</td>
                <td>{{entry.arrival_date|date:'d/m/Y'}}</td>
                <td>{{entry.total_days}}</td>
                <td>{{entry.initial_weight}} {{entry.unit}}</td>
                <td>{{entry.initial_sacks}}</td>
                <td>{{entry.get_total_rent}}</td>
                <td>{{entry.rent_paid}}</td>
                <td>{{entry.get_due_rent}}</td>
                <td>{{entry.get_total_interest}}</td>
                <td>{{entry.interest_paid}}</td>
                <td>{{entry.get_due_interest}}</td>
                <td>
                  <button class="btn btn-primary py-1 w-100 mt-1" 
                    onclick="showSwal('pay-rent','{{entry.id}}')">
                    भाडे भरा 
                  </button>
                  <br>
                  <button class="btn btn-primary py-1 w-100 mt-1" 
                    onclick="showSwal('pay-interest','{{entry.id}}')">
                    व्याज भरा
                  </button>
                  <br>
                  <a href="{% url 'payment_summary' entry.id %}" class="btn btn-primary py-1 w-100 mt-1">
                    माहिती  
                  </a>
                  <!-- <a href="{% url 'disabled_inward_view' entry.id %}" class="btn btn-outline-primary py-1 w-100 mt-1">View</a> -->
                </td>
                <td class="d-none">
                  <form action="{% url 'pay_rent' entry.id %}" method="post" id="pay-rent-form-{{entry.id}}">
                    {% csrf_token %}
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">एकूण वजन</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" class="form-control"> -->
                          <input type="text" class="form-control" disabled value="{{entry.initial_weight}} {{entry.unit}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">एकूण दिवस</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" class="form-control"> -->
                          <input type="number" class="form-control" disabled value="{{entry.total_days}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">एकूण भाडे</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" class="form-control"> -->
                          <input type="number" class="form-control" disabled id="total_rent-{{entry.id}}" value="{{entry.get_due_rent}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">जमा करा</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" class="form-control"> -->
                          <input type="number" class="form-control" id="pay-rent-{{entry.id}}" name="amount"> 
                        </div>
                      </div>
                    </div>
                  </form>
                </td>
                <td class="d-none">
                  <form action="{% url 'pay_interest' entry.id %}" method="post" id="pay-interest-form-{{entry.id}}">
                    {% csrf_token %}
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">एकूण वजन</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" class="form-control"> -->
                          <input type="text" class="form-control" disabled value="{{entry.initial_weight}} {{entry.unit}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">एकूण दिवस</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" class="form-control"> -->
                          <input type="number" class="form-control" disabled value="{{entry.total_days}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">एकूण व्याज</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" class="form-control"> -->
                          <input type="number" class="form-control" disabled id="total_interest-{{entry.id}}" value="{{entry.get_total_inteerst}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">जमा करा</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" class="form-control"> -->
                          <input type="number" class="form-control" id="pay-interest-{{entry.id}}" name="amount"> 
                        </div>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
{% block specific_js %}
<!-- End plugin js for this page -->
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery-ui.js' %}"></script>
<script src="{% static 'vendors/datatables.net/dataTables.buttons.min.js' %}"></script>
<!-- <script src="{% static 'vendors/datatables.net/jquery-3.6.0.min.js' %}"></script> -->
<!-- Custom js for this page-->

<script src="{% static 'vendors/jquery-toast-plugin/jquery.toast.min.js' %}"></script>
<script src="{% static 'vendors/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/toastDemo.js' %}"></script>
<script>
</script>
{% if notification == 'rent' %}
<script>
  showSuccessToast('Rent Added!') 
</script>
{% elif notification == 'interest' %}
<script>
  showSuccessToast('Interest Added!') 
</script>
{% elif notification == 'failed' %}
<script>
  showDangerToast()
</script>

{% elif notification is not None %}
<script>
  showDangerToast('{{notification}}')
</script>
{% endif %}
<script>
 // Date filter
 $(function () {
    // Basic Setup
    $tableSel = $('#order-listing')
    dataTable = $tableSel.DataTable({
      "aLengthMenu": [
        [5, 10, 15, -1],
        [5, 10, 15, "All"]
      ],
      "iDisplayLength": 10,

      "oLanguage": {
        "sSearch": "Search" //Will appear on search form
      },
      fixedHeader: {
        header: true, //Table have header and footer
        footer: true
      },
      orderClasses: true,
      autoFill: true, // Autofills fields by dragging the blue dot at the bottom right of cells
      responsive: true, //  Resize table
      rowReorder: true, // Row can be reordered by dragging
      select: true, // selecting rows, cells or columns
      colReorder: true, // Reorders columns

    });

    $('#clearFilter').on('click', function (e) {
      e.preventDefault();
      $.fn.dataTableExt.afnFiltering.length = 0;
      $tableSel.dataTable().fnDraw();
    });
    //drop down filters
    $('#customer').on('change', function (e) {
      var customer = $(this).val();
      $('#customer').val(customer)
      // console.log(dataTable)
      dataTable.column(1).search(customer).draw();
    })
    $('#crop').on('change', function (e) {
      var crop = $(this).val();
      $('#crop').val(crop)
      // console.log(dataTable)
      dataTable.column(3).search(crop).draw();
    })


    $('#filter').on('click', function (e) {
      e.preventDefault();
      var startDate = $('#start').val(),
        endDate = $('#end').val();
      $('#clearFilter').click();

      filterByDate(4, startDate, endDate); // We call our filter function

      $tableSel.dataTable().fnDraw(); // Manually redraw the table after filtering
    });

  });

  function parseDate(str) {
    var parts = str.split('/');
    return new Date(parts[2], parts[1] - 1, parts[0]);
  }

  function normalizeDate(dateString) {
    var date = new Date(dateString);
    var normalized = date.getFullYear() + '' + (("0" + (date.getMonth() + 1)).slice(-2)) + '' + ("0" + date.getDate()).slice(-2);
    return normalized;
  }

  var filterByDate = function (column, startDate, endDate) {
    // Custom filter syntax requires pushing the new filter to the global filter array
    $.fn.dataTableExt.afnFiltering.push(
      function (oSettings, aData, iDataIndex) {
        var rowDate = normalizeDate(parseDate(aData[column])),
          start = normalizeDate(startDate),
          end = normalizeDate(endDate);
        // console.log(rowDate, start);
        // If our date from the row is between the start and end
        if (start <= rowDate && rowDate <= end) {
          return true;
        }
         else if (rowDate >= start && end === '' && start !== '') {
          return true;
        }
         else if (rowDate <= end && start === '' && end !== '') {
          return true;
        } else {
          return false;
        }
      }
    );
  };


</script>
<script>
(function($) {
  showSwal = function(type,id) {
    'use strict';
    if (type === 'basic') {
      swal({
        text: 'Any fool can use a computer',
        button: {
          text: "OK",
          value: true,
          visible: true,
          className: "btn btn-primary"
        }
      })

    }
    else if (type === 'pay-rent') {
      const form = document.getElementById(`pay-rent-form-${id}`)
      swal({
        content: {
          element: form,
          attributes: {
            placeholder: "Type your password",
            type: "password",
            class: 'form-control'
          },
        },
        buttons: {
          submit: {
            text: "जमा करा",
            value: false,
            visible: true,
            className: "btn btn-success",
            loaderHtml: '',
            closeModal: false,
          },
          cancel: {
            text: "Cancel",
            value: true,
            visible: true,
            className: "btn btn-danger",
            closeModal: true  
          }
        }
      })

      const pay_input = document.getElementById(`pay-rent-${id}`);
      const total_rent_input = document.getElementById(`total_rent-${id}`);
      var total_rent = total_rent_input.value

      // Listen to the 'keyup' event on the pay input
      pay_input.addEventListener('keyup', function() {
        // Get the values of pay and total rent
        const pay_value = parseFloat(pay_input.value) || 0;
        const total_rent_value = parseFloat(total_rent_input.value) || 0;

        // Calculate the remaining rent
        const remaining_rent = total_rent - pay_value;

        // Update the total rent input field with the new value
        total_rent_input.value = remaining_rent >= 0 ? remaining_rent : 0;
      });
 
      document.getElementsByClassName('swal-button--submit')[0].addEventListener('click',()=>{
        // remove the unnecessary loader
        const loader = document.getElementsByClassName('swal-button__loader')[0]
        if(loader) loader.remove()
        console.log(form)
        form.submit()

      })
    }
     
    else if (type === 'pay-interest') {
      const form = document.getElementById(`pay-interest-form-${id}`)
      swal({
        content: {
          element: form,
          attributes: {
            placeholder: "Type your password",
            type: "password",
            class: 'form-control'
          },
        },
        buttons: {
          submit: {
            text: "जमा करा",
            value: false,
            visible: true,
            className: "btn btn-success",
            loaderHtml: '',
            closeModal: false,
          },
          cancel: {
            text: "Cancel",
            value: true,
            visible: true,
            className: "btn btn-danger",
            closeModal: true  
          }
        }
      })

      const pay_interest_input = document.getElementById(`pay-interest-${id}`);
      const total_interest_input = document.getElementById(`total_interest-${id}`);
      var total_interest = total_interest_input.value

      // Listen to the 'keyup' event on the pay input
      pay_interest_input.addEventListener('keyup', function() {
        // Get the values of pay and total rent
        const pay_value = parseFloat(pay_interest_input.value) || 0;

        // Calculate the remaining rent
        const remaining_interest = total_interest - pay_value;

        // Update the total rent input field with the new value
        total_interest_input.value = remaining_interest >= 0 ? remaining_interest : 0;
      });
 
      document.getElementsByClassName('swal-button--submit')[0].addEventListener('click',()=>{
        // remove the unnecessary loader
        const loader = document.getElementsByClassName('swal-button__loader')[0]
        if(loader) loader.remove()
        console.log(form)
        form.submit()

      })
    }
     
    else if (type === 'withdrawal-request') {
      if(form?.classList.contains('d-none'))
        form.classList.remove('d-none')
      swal({
        content: form,
        buttons: {
          submit: {
            text: "Submit",
            value: false,
            visible: true,
            className: "btn btn-success",
            loaderHtml: '',
            closeModal: false,
          },
          cancel: {
            text: "Cancel",
            value: true,
            visible: true,
            className: "btn btn-danger",
            closeModal: true  
          }
        }
      })
      document.getElementsByClassName('swal-button--submit')[0].addEventListener('click',()=>{
        // remove the unnecessary loader
        const loader = document.getElementsByClassName('swal-button__loader')[0]
        if(loader) loader.remove()
        // perform validations
        const amount = document.getElementById('amount-in-wdr')
        const countWarning = document.getElementById('amount-warning-in-wdr')
        if (countWarning.classList.contains('d-none') && amount.value !== '' ){
          form.submit()
        }
        else{
          const warning = document.getElementById('fix-errors')
          warning.classList.remove('d-none')
          console.log('problem')
        }
      })
  
    }
    else{
      console.log("Type not mentioned in alert.js")
    }
  }

})(jQuery);
</script>
<!-- <script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get the input elements
    const pay_input = document.getElementById('pay');
    const total_rent_input = document.getElementById('total_rent');
    var total_rent = total_rent_input.value
    // Listen to the 'keyup' event on the pay input
    pay_input.addEventListener('keyup', function() {
      // Get the values of pay and total rent
      const pay_value = parseFloat(pay_input.value) || 0;
      const total_rent_value = parseFloat(total_rent_input.value) || 0;

      // Calculate the remaining rent
      const remaining_rent = total_rent - pay_value;

      // Update the total rent input field with the new value
      total_rent_input.value = remaining_rent >= 0 ? remaining_rent : 0;
    });
  });
</script> -->

{% endblock %}
<!-- 

    inward form->{ vehicle number }

    slips -> entry inward outward settle



  db
  master
  new customer
  inward (new, active(table) add section)
  pay
  outward




  4 boxes(total customers,total crops, total renting pending and total interest pending, loan given)
  filters( customer, crop, date)
  customer name
  mobile no
  crop
  date_of_arrival
  initial_sacks
  action (view details)
    (filled inward-form)


  pay (similar to inward) (button-> pay rent, pay interest, summary)
    summary(slip) -> date , 
    popup(total initial_sacks, total days, total rent/interest, pay(input) )


  outward-(similar inward)
  table -> (action - view))-form(more field -initial_sacks, principal_paid,proceed_button)
 -->